streamlit
matplotlib
numpy
plotly
pandas
reportlab
kaleido==0.2.1
scipy
fonttools
streamlit-aggrid
requests
folium
gpxpy
git+https://${GITHUB_TOKEN}@github.com/AlanB7983/Endurance_Core_Lab_GPX_Analyser_Prive.git
